Source: on-taskgraph
Section: utilties
Priority: optional
Maintainer: Joe Heck <joseph.heck@emc.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: on-taskgraph
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, nodejs, nodejs-legacy, npm, mongodb, snmp, ipmitool
Suggests: python-pywbem, ansible, apt-mirror, amtterm
Description: RackHD Imaging workflow taskgraph engine
